.image-gallery-slide {
  background :rgb(255, 255, 255);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dataBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}