.cardResults {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .searchCardCol {
    -webkit-column-count: 4 !important;
    -moz-column-count: 4 !important;
    column-count: 4 !important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .searchCardCol .card {
    display: inline-block;
    width: 100%;
  }
}